.leaderboard-table__user-data {
        display: flex;
        justify-content: center;
        align-items: center;
        .leaderboard-table__avatar {
            width: 40px;
            height: 40px;
            padding: 0 15px 0 0;
        }
    }
