.question-card__container {
    width: 100%;
    padding: 15px 20px;
    .question-card__header-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .question-form__question {
        text-align: center;
        display: block;
        font-family: 'Pacifico', cursive;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 15px;
    }
    .question-card__body-container {
        padding: 15px 20px;
        font-size: 1.5rem;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .question-card__answer {
            color: black;
        }
        .question-card__divider {
            margin: 5px;
        }
    }
    .question-card__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .question-card__button {
            margin: 15px;
        }
        .question-card__button-label {
            padding: 5px 10px;
        }
    }
}
