.app-bar {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .app-bar a {
    text-decoration: none; }
  .app-bar .app-bar__user {
    margin: 0px 5px;
    display: flex;
    align-items: center; }
    .app-bar .app-bar__user .app-bar__avatar {
      margin: 0px 10px; }

.main__wrapper {
  margin: 25px; }

.user-login .user-login__header-container {
  padding: 15px 20px; }
  .user-login .user-login__header-container .user-login__primary {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px; }
    .user-login .user-login__header-container .user-login__primary .user-login__title {
      display: block;
      font-family: 'Pacifico', cursive;
      font-weight: bold;
      font-size: 3rem;
      padding: 15px; }
  .user-login .user-login__header-container .user-login__secondary {
    font-size: 18px;
    text-align: center; }

.user-login .user-login__body-container {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .user-login .user-login__body-container .user-login__select-wrapper {
    min-width: 400px;
    width: 80%; }
    .user-login .user-login__body-container .user-login__select-wrapper .user-login__select {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .user-login .user-login__body-container .user-login__select-wrapper .user-login__select .user-login__avatar {
        padding: 0 5px 0 0;
        height: 18px;
        width: 18px; }
  .user-login .user-login__body-container .user-login__sign-in {
    margin: 15px; }
  .user-login .user-login__body-container .user-login__sign-in-label {
    padding: 5px 10px; }

.user-login__option {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .user-login__option .user-login__avatar {
    padding: 0 5px 0 0; }

.leaderboard-table__user-data {
  display: flex;
  justify-content: center;
  align-items: center; }
  .leaderboard-table__user-data .leaderboard-table__avatar {
    width: 40px;
    height: 40px;
    padding: 0 15px 0 0; }

.question-form__header-container {
  padding: 15px 20px; }
  .question-form__header-container .question-form__header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px; }

.question-form__question-container {
  padding: 15px 20px; }
  .question-form__question-container .question-form__question {
    text-align: center;
    display: block;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 2rem;
    padding: 15px; }

.question-form__body {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .question-form__body .question-form__submit {
    margin: 15px; }
  .question-form__body .question-form__submit-label {
    padding: 5px 10px; }
