.app-bar {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .app-bar .app-bar__user {
    margin: 0px 5px;
    display: flex;
    align-items: center; }
    .app-bar .app-bar__user .app-bar__avatar {
      margin: 0px 10px; }
